img { float: left; height: 300px; width: 300px; }
h1 { border-bottom-style: inset; }
.entre-letras { letter-spacing: 0.5em; }
.alinha-direita { text-align: right; }
.oculta { display: none; }
.exibe { display: block; }

a {
    padding: 0 0 15px 0;
    display: block;
}

label {
    display: block;
    margin: 10px;
}